.navbar {
  background-color: #efefef;
  height: 60px;
}
.wishlistIcon {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
}
.redColor {
  color: red;
}
.imgWidth {
  width: 100px;
}
.cartStyle {
  display: flex;
  align-items: center;
}
.cart-number {
  position: absolute;
  right: 1%;
  top: 1%;
  background-color: red;
  color: white;
  height: 18px;
  width: 18px;
  font-size: 15px;
  border-radius: 50px;
}
.icon-number-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cursor-style {
  cursor: pointer;
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.price-quantity-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-width {
  width: 10%;
}
.styling {
  display: flex;
}
.abc {
  margin-left: 10px;
}
.span-spacing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-title-style {
  display: flex;
  align-items: center;
}
.cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.margin-style {
  margin: 10px;
}
.title-svg-style {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.svg-style {
  margin-right: 91%;
}
.notification {
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: none !important;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px;
}
.cart-empty-style {
  text-align: center;
}
.home-button-style {
  display: flex;
  align-items: center;
  justify-content: right;
}
