.navbar {
  background-color: #efefef;
  height: 60px;
}
.wishlistIcon {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
}
.redColor {
  color: red;
}
.imgWidth {
  width: 100px;
}
.cartStyle {
  display: flex;
  align-items: center;
}
.cart-number {
  position: absolute;
  right: 1%;
  top: 1%;
  background-color: red;
  color: white;
  height: 18px;
  width: 18px;
  font-size: 15px;
  border-radius: 50px;
}
.icon-number-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cursor-style {
  cursor: pointer;
}
.price-quantity-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-width {
  width: 10%;
}
.styling {
  display: flex;
}
.abc {
  margin-left: 10px;
}
.span-spacing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-title-style {
  display: flex;
  align-items: center;
}
